.DS_Store
*.class
.vscode/

# Antlr4 stuff
*.tokens
*.interp
*BaseListener.java
*Listener.java
*Lexer.java
*Parser.java
pilBaseVisitor.java
pilVisitor.java
qlangBaseVisitor.java
qlangVisitor.java

# Python stuff
__pycache__/
venv/
pilLexer.py
pilListener.py
pilParser.py
pilVisitor.py
*.o
*~
~*
*.pyc
